//header nav
.header {
    text-align: right;
    text-align: center;
    align-items: center;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05), 0 2px 4px 0 rgba(0, 0, 0, .06);
    nav {
        display: flex;
        justify-content: center;
        .search {
            margin: 10px;
            padding: 10px;
            flex-grow: 0.6;
        }
        .checkbox {
            display: none;
        }
       .checkbox:checked ~.nav-list {
           opacity: 1;
       }
    }
    .user-img {
        height: 4rem;

    }
    .nav-list {
        display: grid;
        color: white;
        background-color: $color-background;
        position: absolute;
        opacity: 0;
        grid-template-rows: auto;
        right: 2rem;
        width: 20%;
        border-radius: 10%;
        text-align: center;
        margin-top: 5.5rem;
    }
}