{% extends 'bridge_app/base.html' %}
{% load account %}

{% block content %}
    <script
            src="//code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <div id="demo">
    </div>
    <h2>The XMLHttpRequest Object</h2>
    Username: <input type="text" name="username" id="username"> <br>
    Password: <input type="password" name="password" id="password"> <br>
    <input type="checkbox" name="remember_me" id="remember_me" > Remember me.
    <button type="button"
            onclick="call_ajax()">Fetch ajax
    </button>
    </div>

    <script>
        function call_ajax() {
            let url = $('input[name=apiStarter]').val();
            url = url + "login?format=json";
            loadDoc(url)
        }

        function loadDoc(url) {
            csrftoken = $('input[name=csrfmiddlewaretoken]').val();
            console.log(csrftoken);
            console.log(url);
            $.ajax({
                url: url,
                data: {
                    csrfmiddlewaretoken: csrftoken,
                    username: $("#username").val(),
                    password: $("#password").val(),
                    remember_me: $("#remember_me").is(':checked'),
                },
                xhrFields: {
                    withCredentials: true
                },
                success: function (data) {
                    console.log(data);
                },
                type: "POST",
            })
        }
    </script>
    {% csrf_token %}
    <input type="hidden" name="apiStarter" value="{% url 'api:main' %}">
{% endblock %}