{% extends 'bridge_app/base.html' %}
{% load account %}

{% block content %}


    <ul class="row list-group">
        {% if user.is_authenticated %}
            <li class="list-group-item list-group-item-success"><a href="{% url 'account_email' %}">Change E-mail</a></li>
            <li class="list-group-item list-group-item-success"><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
            <li class="list-group-item list-group-item-info"><a href="{% url 'account_login' %}">Sign In</a></li>
            <li class="list-group-item list-group-item-info"><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
    </ul>
    <ul class="row list-group">
        {% for file in files %}
            <li class="list-group-item"><a href="{% url 'bridge_app:template' file %}">{{ file }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}