{% extends 'bridge_app/base.html' %}
{% load static from staticfiles %}
{% load filter_objects %}
{% block head %}
    {#    Add css file to staticfiles/css folder and import them as below: #}
    {#    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">  #}
{% endblock %}
{% block title %} RAFS {% endblock %}

{% block content %}

    <section class="left-section">
        <article id="popular" class="box product-container">
            <header class="product-header">
                <span class="title">Top recommendations</span>
            </header>

            {% for object in recommended_objects %}
                <div class="product-item">
                    <img src="{% static "images/popular-this-week/item-1.jpg" %}" alt="" class="fleft product-image">
                    <div class="fleft product-data">
                        <span class="title"> {{ object.title }}</span>

                        <span class="category">
                            {% for category in object.category.all %}
                                <a href="#">{{ category }}</a>
                            {% endfor %}

                            </span>
                        <p>
                            {{ object.summary }}
                        </p>
                        <div class="buttons">
                            <span class="votes">Recommended by: {{ object|display_recommend_count }}</span>
                            <span class="comments">{{ object|display_review_count }}</span>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            {% endfor %}
            <div class="show-more">
                <img src="{% static "images/arrow-down.png" %}" alt="" class="arrow">Show More
            </div>
        </article>

        <article id="today" class="box product-container">
            <header class="product-header">
                <span class="title">Some questions</span>
            </header>
            {% for question in recommended_questions %}
                <div class="product-item">
                    <img src="{% static "images/today/app-1.png" %}" alt="" class="fleft product-image">
                    <div class="fleft product-data">
                        <span class="title">{{ question.title }}</span>
                        <p>{{ question.summary |default_if_none:" " }}</p>
                        <div class="buttons">
                            {% for option in question.options.all %}
                                <span class="votes">{{ option }}</span>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}

            <div class="show-more">
                <img src="{% static "images/arrow-down.png" %}" alt="" class="arrow">Show More
            </div>
        </article>
    </section>

    <section class="right-section aside-contents">
        <article id="upcoming-items" class="box">
            <header class="aside-header">
                <div class="title small-title">Recently added</div>
            </header>
            {% for product in recently_added %}
                <div class="recent-item">
                    <div class="fleft">
                        <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                    </div>
                    <div class="fleft product-data">
                        <div class="name">{{ product.title }}</div>
                        <div class="description">{{ product.summary }}</div>
                        <button class="read-more">Read More</button>
                    </div>
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
        </article>
    </section>

{% endblock %}

{% block end %}
    {#    Add js file to staticfiles/js folder and import them as below: #}
    {#    <script src="{% static "js/index.js" %}"></script> #}
    {#Webpack bundled from index.js is automatically added.#}

{% endblock %}