{% extends 'bridge_app/base.html' %}
{% load static from staticfiles %}
{% load filter_objects %}
{% block head %}
    {#    Add css file to staticfiles/css folder and import them as below: #}
    {#    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">  #}
{% endblock %}
{% block title %} RAFS {% endblock %}

{% block content %}

    <section class="left-section">
        <article id="popular" class="box product-container">
            <header class="product-header">
                <span class="title">Top recommendations</span>
            </header>

            {% for object in recommended_objects %}
                <div class="product-item">
                    <img src="{% static "images/popular-this-week/item-1.jpg" %}" alt="" class="fleft product-image">
                    <div class="fleft product-data">
                        <span class="title"> {{ object.title }}</span>

                            <span class="category">
                            {% for category in object.category.all %}
                                <a href="#">{{ category }}</a>
                            {% endfor %}

                            </span>
                        <p>
                            {{ object.summary }}
                        </p>
                        <div class="buttons">
                            <span class="votes">Recommended by: {{ object|display_recommend_count }}</span>
                            <span class="comments">{{ object|display_review_count }}</span>

                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>

            {% endfor %}
            <div class="show-more">
                <img src="{% static "images/arrow-down.png" %}" alt="" class="arrow">Show More
            </div>
        </article>

        <article id="today" class="box product-container">
            <header class="product-header">
                <span class="title">Today</span>
            </header>

            <div class="product-item">
                <img src="{% static "images/today/app-1.png" %}" alt="" class="fleft product-image">
                <div class="fleft product-data">
                    <span class="title">Lorem epsum</span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore hic dignissimos pariatur omnis
                        iusto ratione consequuntur eaque amet. Obcaecati ab corporis dolorem asperiores incidunt
                        laudantium commodi expedita, cum ipsa nostrum.</p>
                    <div class="buttons">
                        <span class="votes">Recommended By:82</span>
                        <span class="comments">8</span>
                        <span class="category">Android</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>


            <div class="product-item">
                <img src="{% static "images/today/item-3.jpg" %}" alt="" class="fleft product-image">
                <div class="fleft product-data">
                    <span class="title">Zero to one</span>
                    <p>Zero to One: Notes on Startups, or How to Build the Future</p>
                    <div class="buttons">
                        <span class="votes">Recommended By: 23</span>
                        <span class="comments">3</span>

                        <span class="category">book</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="product-item">
                <img src="{% static "images/today/item-3.jpg" %}" alt="" class="fleft product-image">
                <div class="fleft product-data">
                    <span class="title">Zero to one</span>
                    <p>Zero to One: Notes on Startups, or How to Build the Future</p>
                    <div class="buttons">
                        <span class="votes">Recommended By:23</span>
                        <span class="comments">3</span>

                        <span class="category">book</span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="show-more">
                <img src="{% static "images/arrow-down.png" %}" alt="" class="arrow">Show More
            </div>
        </article>
    </section>

    <section class="right-section aside-contents">
        <article id="upcoming-items" class="box">
            <header class="aside-header">
                <div class="title small-title">Recently added</div>
            </header>

            <div class="recent-item">
                <div class="fleft">
                    <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                </div>
                <div class="fleft product-data">
                    <div class="name">Trello</div>
                    <div class="description">Trello is a web-based project management application</div>
                    <button class="read-more">Read More</button>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="recent-item">
                <div class="fleft">
                    <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                </div>
                <div class="fleft product-data">
                    <div class="name">Arch linux</div>
                    <div class="description">Arch Linux is a Linux distribution for computers based on x86-64
                        architectures.
                    </div>
                    <button class="read-more">Read More</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="recent-item">
                <div class="fleft">
                    <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                </div>
                <div class="fleft product-data">
                    <div class="name">Slack</div>
                    <div class="description">Slack is a cloud-based set of proprietary team collaboration tools and
                        services, founded by Stewart Butterfield.
                    </div>
                    <button class="read-more">Read More</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="recent-item">
                <div class="fleft">
                    <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                </div>
                <div class="fleft product-data">
                    <div class="name">Logitech G502 Proteus Spectrum</div>
                    <div class="description">RGB TUNABLE GAMING MOUSE</div>
                    <button class="read-more">Read More</button>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="recent-item">
                <div class="fleft">
                    <img src="{% static "images/product.png" %}" alt="product picture" class="product-photo">
                </div>
                <div class="fleft product-data">
                    <div class="name">Fitbit Charge 2</div>
                    <div class="description">Fitbit charge 2 is a watch from fitbit.</div>
                    <button class="read-more">Read More</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </article>
    </section>

{% endblock %}

{% block end %}
    {#    Add js file to staticfiles/js folder and import them as below: #}
    {#    <script src="{% static "js/index.js" %}"></script> #}
    {#Webpack bundled from index.js is automatically added.#}

{% endblock %}